.container {
  max-width: 46rem;
  margin: 0 auto;
}

.tasks {
  background: var(--gray-600);
  
}

.countTasks {
  display: flex;
  justify-content: space-between;
}

.countTasks > p {
  text-align: center;
  color: var(--blue);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 140%;
}

.countTasks > p:last-child {
  color: var(--purple-dark);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 140%;
}

.countTasks > p > span {
  text-align: center;
  font-size: 1rem;
  color: var(--gray-200);
  background: var(--gray-400);
  border-radius: 50%;
  margin-left: 8px;
  padding: 0.125rem 0.5rem;
}

.zeroTasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  padding: 4rem 1.5rem;
}

.zeroTasks > img {
  width: 56px;
  height: 56px;
  margin-bottom: 1rem;
}

.zeroTasks > p {
  font-size: 1rem;
  color: var(--gray-300);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 140%;
}

.zeroTasks > p:last-child {
  font-size: 1rem;
  color: var(--gray-300);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
}
